<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/w3.css" />
</head>

<body>
    <div class="w3-container">
        <%- body %>
    </div>
</body>

</html>