<div class="w3-container">
    <h3>User name</h3>
    <p>
        <%= profile.username %>
    </p>
    <h3>Email</h3>
    <p>
        <%= profile.email %>
    </p>
    <h3>Account type</h3>
    <p>
        <%= profile.type %>
    </p>
    <h3>Created at</h3>
    <p>
        <%= profile.createdAt %>
    </p>
</div>